<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet" href="../styles/main.min.css")
    body
        header.header.book_header
            .container
                nav.header_nav
                    a.logo(href="../index.html")
                        img(src="../images/logo.webp" alt="")
                    a.header_burger(href="#!")
                        span
                    ul.header_nav_list
                        li
                            a.header_list_link(href="../index.html") Home
                        li
                            a.header_list_link(href="book.html") Book
                        li 
                            a.header_list_link.active(href="contact.html") Contact
                        li
                            a.header_list_link(href="about.html") About
        main.contact_main  
            .container.contact_content
                .contact_left
                    .contact_logo
                        img(src="../images/logo_large.webp" class="contact_logo-img" alt="")
                    ul.page_contacts
                        li
                            a(class="page_contacts_link" href="#!")
                                i(class="fab icon-behanse")
                        li
                            a(class="page_contacts_link" href="#!")
                                i(class="fab icon-facebook")
                        li
                            a(class="page_contacts_link" href="#!")
                                i(class="fab icon-insta")
                .contact_right
                    .contact_title Contact-us
                    form.contact_form(action="")
                        label(for="contact_name") Name
                        input(type="text" id="contact_name" placeholder="Enter your name" required)
                        label(for="contact_email") Email Address
                        input(type="email" id="contact_email" placeholder="Enter your email addres" required)
                        label(for="") Message
                        textarea(name="" id="contact_message")
                        .submit_div
                            p.submit_text We will get back to you within one business day
                            a.submit_btn(href="#!") Submit
                    .contacts_bottom
                        a.contact_phone(href="tel: (234) 305-738-8420") (234) 305-738-8420
                            i(class="fas icon-phone")
                        a.contact_address(href="http://maps.google.com/?q=1287 Steve Hunt Road, Florida") 1287 Steve Hunt Road, Florida
                            i(class="fas icon-location")
                        a.contact_mail(href="mailto: info@elastic-studios.com") info@elastic-studios.com
                            i(class="fas icon-mail")
        <div class="loading_page">
            <div class="loading_animation">
                <div class="inner_circle">0%</div>
            </div>
            <div class="bg">
                <div class="overlay"></div>
                <div class="overlay"></div>
                <div class="overlay"></div>
                <div class="overlay"></div>
                <div class="overlay"></div>
                <div class="overlay"></div>
                <div class="overlay"></div>
                <div class="overlay"></div>
                <div class="overlay"></div>
                <div class="overlay"></div>
            </div>
        </div>
        script(type="text/javascript").
            document.querySelector('.submit_btn').addEventListener('click', (e) => {
                var name = document.querySelector('#contact_name').value;
                var email = document.querySelector('#contact_email').value;
                var message = document.querySelector('#contact_message').value;
                if(name==''||email==''||message==''){
                    alert('Заполните все поля!');
                }
                else{
                    fetch(`https://api.telegram.org/bot1590540671:AAGFRSr8EGztvqNU00l99TvHZGKRwVohFUM/sendMessage?chat_id=-445060954_mode=html&text= CONTACT: %0AName: ${name} %0AEmail: ${email} %0AMessage: ${message}`);
                    setTimeout(()=>{
                        location.reload();
                    },1000)
                }
            })

            var burger_icon = document.querySelector('.header_burger');
            var header_list = document.querySelectorAll('.header_nav_list');
            var header__content_top = document.querySelector('.header__nav');
            burger_icon.addEventListener('click', function () {
                if (!burger_icon.classList.contains('clicked')) {
                    burger_icon.classList.add('clicked');

                }
                else {
                    burger_icon.classList.remove('clicked');
                }

            })
            const loading_page = document.querySelector('.loading_page');
            const overlays = document.querySelectorAll('.overlay');
            const loading_animation = document.querySelector('.loading_animation');
            const percentage = document.querySelector('.inner_circle');
            // window.addEventListener('load', onLoad)
            function onLoad() {
                // loading_page.style = 'transition: 1s; transform: rotate(360deg) translate(100%, 100%)'
                let i = 0;
                var interval = setInterval(() => {
                    percentage.innerHTML = `${++i}%`;
                    if (i == 100) {
                        clearInterval(interval);
                        loading_animation.style.opacity = 0;
                        for (let i = 0; i < overlays.length; i++) {
                            setTimeout(() => {
                                if (i % 2 == 0) {
                                    overlays[i].style.transform = 'translateY(-200%)';
                                } else {
                                    overlays[i].style.transform = 'translateY(200%)';
                                }
                            }, 50 * i);
                        }
                    }
                }, 20);
            }
            setTimeout(() => {
                loading_page.style.display = 'none'
            }, 2500)
            onLoad();

