.about_main {
    padding-bottom: 109px;
    min-height: 100vh;
}
.about_right{
    max-width: 767px;
}
.about_text {
    font-family: 'OpenSans-Regular';
    font-size: 36px;
    line-height: 49px;
    color: #FFFFFF;
    margin-bottom: 56px;
}
.about_text a{
    color: #CCAF40;
}