.book_header {
    background: #000;
}

.book_main {
    padding-top: 190px;
}

.book_form {
    max-width: 1202px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.book_title {
    font-family: 'OpenSans-SemiBold';
    font-size: 36px;
    line-height: 49px;
    text-align: center;
    color: #000000;
    margin-bottom: 11px;
}

.book_text {
    font-family: 'OpenSans-Regular';
    font-size: 24px;
    line-height: 33px;
    text-align: center;
    color: #000000;
    margin-bottom: 100px;
}

.options_title {
    font-family: 'OpenSans-SemiBold';
    font-size: 24px;
    line-height: 33px;
    text-align: center;
    color: #000000;

}

.options_text {
    font-family: 'OpenSans-Light';
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #000000;
    margin-bottom: 20px;
}

.checkbox {
    display: none;
}

.checkbox_text {
    display: block;
    width: fit-content;
    font-family: 'OpenSans-SemiBold';
    font-size: 18px;
    line-height: 25px;
    color: #000000;
    padding: 9px 30px;
    border: 1px solid #CCAF40;
    border-radius: 5px;
    transition: 0.5s;
}

.options_items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 100px;
}

.checkbox_div {
    margin: 0 15px;
    margin-bottom: 20px;
}

.checkbox:checked~.checkbox_text {
    background: #CCAF40;
    color: white;
}

.date_title {
    font-family: 'OpenSans-SemiBold';
    font-size: 24px;
    line-height: 33px;
    text-align: center;
    color: #000000;
    margin-bottom: 27px;
}

.date_inputs {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}

.date_input label {
    font-family: 'Roboto-Regular';
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.4px;
    color: #000000;
    position: absolute;
    background: white;
    padding: 0 8px;
    top: -7px;
    left: 40px;
    opacity: 0;
    
}

.date_input input:focus{
    outline: none;
}
.date_input input:focus ~label{
    transition: 0.5s;
    opacity: 1;
}
.date_input{
    position: relative;
    width: 30%;
    margin: 0 25px;
}

input {
    width: 100%;
    height: 56px;
    border: 2px solid #CCAF40;
    padding: 16px;
    
}
input[type="date"]::-webkit-calendar-picker-indicator{
    color: rgba(0, 0, 0, 0);
    opacity: 1;
    display: block;
    background: url(../images/input_icon.webp) no-repeat;
    background-position: center;
    width: 20px;
    height: 20px;
    border-width: thin;
}
input[type="time"]::-webkit-calendar-picker-indicator{
    color: rgba(0, 0, 0, 0);
    opacity: 1;
    display: block;
    background: url(../images/input_icon.webp) no-repeat;
    background-position: center;
    width: 20px;
    height: 20px;
    border-width: thin;
}
.packages_title {
    font-family: 'OpenSans-SemiBold';
    font-size: 24px;
    line-height: 33px;
    text-align: center;
    color: #000000;
    margin-bottom: 30px;
}

.packages_items {
    display: flex;
    justify-content: space-between;
    max-width: 955px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 100px;
}

.packages_item {
    padding: 32px 72px;
    text-align: center;
    border: 1px solid #000000;
}

.packages_item-title {
    font-family: 'OpenSans-SemiBold';
    font-size: 21px;
    line-height: 29px;
    text-align: center;
    color: #000000;
}

.price {
    font-family: 'OpenSans-SemiBold';
    font-size: 30px;
    line-height: 41px;
    text-align: center;
    color: #000000;
    margin-bottom: 7px;
}

.price img {
    margin-right: 4px;
}

.packages_text {
    font-family: 'OpenSans-Regular';
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #000000;
}

.select_btn {
    font-family: 'OpenSans-SemiBold';
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
    padding: 9px 27px;
    background: #CCAF40;
    border-radius: 5px;
    display: block;
    width: fit-content;
    margin: 0 auto;
    margin-top: 50px;
    border: 2px solid transparent;

}

.select_btn.clicked {
    color: black;
    background: transparent;
    border: 2px solid #CCAF40;
}

.book_btns {
    display: flex;
    justify-content: center;
    padding-bottom: 193px;
}

.bookLater_btn {
    margin-left: 30px;
}