header.header
    .container
        nav.header_nav
            .logo
                img(src="images/logo.webp", alt="")
            ul.header_nav_list
                li
                    a.header_list_link(href="") Home
                li
                    a.header_list_link(href="") Book
                li 
                    a.header_list_link(href="") Contact
                li
                    a.header_list_link(href="") About