header.header
    .container
        nav.header_nav
            a.logo(href="index.html")
                img(src="images/logo.webp" alt="")
            a.header_burger(href="#!")
                span
            ul.header_nav_list
                li
                    a.header_list_link.active(href="index.html") Home
                li
                    a.header_list_link(href="pages/book.html") Book
                li 
                    a.header_list_link(href="pages/contact.html") Contact
                li
                    a.header_list_link(href="pages/about.html") About
            