.carousel
  .carousel_pages
    .carousel_page.page1.active
      .container.page_inner
        .page_inner_content
          ul.page_contacts
            li
              a(class="page_contacts_link" href="#!")
                i(class="fab icon-behanse")
            li
              a(class="page_contacts_link" href="#!")
                i(class="fab icon-facebook")
            li
              a(class="page_contacts_link" href="#!")
                i(class="fab icon-insta")
          p.page_text.
            We take photos as
            a return ticket to a
            moment otherwise gone
          a.book_btn(href="pages/book.html") Book now
        .view_btn
          |View more
          i(class="far icon-down")



    .carousel_page.page2
      .page2_inner
        .page2_inner_content
          h1.page2_title BEAUTY
          p.page2_text. 
            Lorem ipsum dolor sit amet, 
            consectetur adipiscing elit. Ullamcorper 
            ornare odio ultrices elementum ut.
        .look_btn 
          |Take a look
          i(class="fas icon-arrowRight")
      .page_layover.page2_layover
    .carousel_page.page3
      .page2_inner.page3_inner
        .page2_inner_content.page3_inner_content
          h1.page2_title.page3_title POTRAIT
          p.page2_text. 
            Lorem ipsum dolor sit amet, 
            consectetur adipiscing elit. Ullamcorper 
            ornare odio ultrices elementum ut.
        .look_btn 
          |Take a look
          i(class="fas icon-arrowRight")
      .page_layover.page3_layover
    .carousel_page.page4
      .page2_inner.page4_inner
        .page2_inner_content.page4_inner_content
          h1.page2_title BEAUTY
          p.page2_text. 
            Lorem ipsum dolor sit amet, 
            consectetur adipiscing elit. Ullamcorper 
            ornare odio ultrices elementum ut.
        .look_btn 
          |Take a look
          i(class="fas icon-arrowRight")
      .page_layover.page4_layover
    .carousel_page.page5
      .page2_inner.page3_inner.page5_inner
        .page2_inner_content.page3_inner_content.page5_inner_content
          h1.page2_title.page3_title BEAUTY
          p.page2_text. 
            Lorem ipsum dolor sit amet, 
            consectetur adipiscing elit. Ullamcorper 
            ornare odio ultrices elementum ut.
        .look_btn 
          |Take a look
          i(class="fas icon-arrowRight")
      .page_layover.page5_layover
    .carousel_page.page6
      .page2_inner.page6_inner
        .page2_inner_content.page6_inner_content
          h1.page2_title BEAUTY
          p.page2_text. 
            Lorem ipsum dolor sit amet, 
            consectetur adipiscing elit. Ullamcorper 
            ornare odio ultrices elementum ut.
        .look_btn 
          |Take a look
          i(class="fas icon-arrowRight")
      .page_layover.page6_layover
    .carousel_page.page7
      .page2_inner.page3_inner.page7_inner
        .page2_inner_content.page3_inner_content.page7_inner_content
          h1.page2_title.page3_title BEAUTY
          p.page2_text. 
            Lorem ipsum dolor sit amet, 
            consectetur adipiscing elit. Ullamcorper 
            ornare odio ultrices elementum ut.
        .look_btn 
          |Take a look
          i(class="fas icon-arrowRight")
      .page_layover.page7_layover
    .carousel_page.page8
      .page2_inner.page8_inner
        .page2_inner_content.page8_inner_content
          h1.page2_title BEAUTY
          p.page2_text. 
            Lorem ipsum dolor sit amet, 
            consectetur adipiscing elit. Ullamcorper 
            ornare odio ultrices elementum ut.
        .look_btn 
          |Take a look
          i(class="fas icon-arrowRight")
      .page_layover.page8_layover
    .carousel_page.page9
      .page2_inner.page3_inner.page9_inner
        .page2_inner_content.page3_inner_content.page9_inner_content
          h1.page2_title.page3_title BEAUTY
          p.page2_text. 
            Lorem ipsum dolor sit amet, 
            consectetur adipiscing elit. Ullamcorper 
            ornare odio ultrices elementum ut.
        .look_btn 
          |Take a look
          i(class="fas icon-arrowRight")
      .page_layover.page9_layover
    .carousel_page.page10
      .page2_inner.page10_inner
        .page2_inner_content.page10_inner_content
          h1.page2_title BEAUTY
          p.page2_text. 
            Lorem ipsum dolor sit amet, 
            consectetur adipiscing elit. Ullamcorper 
            ornare odio ultrices elementum ut.
        .look_btn 
          |Take a look
          i(class="fas icon-arrowRight")
      .page_layover.page10_layover
    .carousel_page.page11 
      .page11_container
        .back_btn
          i(class="far icon-up")
          |Back to top
        .page11_inner
          .page11_item.col-4
            .page11_number 0
            .page11_text. 
              Years experience of
              freelance photography
          .page11_item.col-4
            .page11_number 0
            .page11_text. 
              Projects worked on
              and counting
          .page11_item.col-4
            .page11_number 0
            .page11_text. 
              Stable client currently
              trust us and are booked
        a.book_btn.footer_btn(href="pages/book.html") Book now
  .carousel_indicators
    button.fas.prev_btn
    ul.indicators_list
      li.indicator.active
      li.indicator
      li.indicator
      li.indicator
      li.indicator
      li.indicator
      li.indicator
      li.indicator
      li.indicator
      li.indicator
      li.indicator
    button.fas.next_btn