@import 'common/fonts.scss';
@import 'common/root.scss';

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

.icon {


    &-facebook::before {
        content: '\f39e';
        font-size: 16px;
        color: black;

    }

    &-insta::before {
        content: '\f16d';
        font-size: 16px;
        color: black;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background: white;
    }

    &-behanse::before {
        content: '\f1b4';
        font-size: 16px;
        color: black;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background: white;
    }

    &-down::before {
        content: '\f107';
        font-size: 25px;
        color: white;
    }

    &-up::before {
        content: '\f106';
        font-size: 25px;
        color: white;
    }

    &-phone::before {
        content: '\f8d3';
        font-size: 16px;
        color: white;
    }

    &-location::before {
        content: '\f3c5';
        font-size: 16px;
        color: white;
    }

    &-mail::before {
        content: '\f0e0';
        font-size: 16px;
        color: white;
    }
    &-arrowRight::before{
        content: '\f178';
        font-size: 35px;
        color: white;
        margin-left: 22px;
    }

}

/*==================================== carousel ===================================*/

button {
    background: none;
    border: none;
}

button:hover {
    cursor: pointer;

}

.carousel {
    position: relative;
}

.carousel_pages {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.carousel_page {
    position: absolute;
    width: 100%;
    height: 100vh;
    border: 1px solid black;
    top: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    transition: 1s;
}

.carousel_page.active {
    top: 0;
}

.carousel_indicators {
    position: fixed;
    right: 0.5%;
    top: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.indicator {
    width: 18px;
    height: 18px;
    background: grey;
    border-radius: 50%;
    margin-bottom: 5px;
    transition: 1s;
    border: 2px solid transparent;
}

.indicator:hover {
    cursor: pointer;
    background: rgb(70, 68, 68);
}

.indicator.active {
    background: black;
    border: 2px solid rgb(153, 151, 151);
}

.prev_btn {
    margin-bottom: 5px;
}

.prev_btn::before {
    content: "\f106";
    color: white;
    font-size: 25px;
}

.next_btn::before {
    content: "\f107";
    color: white;
    font-size: 25px;
}

/*==================================== /carousel ===================================*/


@import 'layout/header.scss';
@import 'layout/main.scss';
@import 'layout/footer.scss';
@import 'pages/book.scss';
@import 'pages/about.scss';
@import 'pages/contact.scss';